
/* #################################
   # Buttons
   #################################
*/

button {
	width: 100px;
	height: 20px;
	background-color: inherit;
	background-image: url(img/button_green.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 11px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	padding-bottom: 3px;
}

button.green {
	background-image: url(img/button_green.png);
}

button.red {
	background-image: url(img/button_red.png);
}

button.blue {
	background-image: url(img/button_blue.png);
}

button.yellow {
	background-image: url(img/button_yellow.png);
}
