

/* #######################
   #  Info Box (near logo)
   #######################
*/
img.logo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 25px;
}

div#infobox {
    float: left;
    border: 1px solid #C0C1DA;
    margin: 5px;
    width: 320px;
}

div#infobox div.st_header {
    overflow: hidden;
    padding: 1px 4px;
    background: #E9EFFF;
    border-bottom: 1px solid #C0C1DA;
}

div#infobox div.st_header div.now {
    float: right;
}

div#infobox div.st_header div.caption {
    float: left;
    overflow: hidden;
    font-weight: bold;
    padding: 0px;
}

div#infobox div.st_content {
    overflow: hidden;
    padding: 4px;
    background: white url(img/bg_line_top.png) top left repeat-x;
}

div#infobox div.st_content div.duration {
    float: right;
}

div#infobox div.st_content div.name {
    float: left;
    overflow: hidden;
    font-weight: bold;
}

div#infobox div.st_controls {
    overflow: hidden;
    padding: 4px;
}

div#infobox div.st_controls div.st_pbar {
    padding-top: 4px;
    float: right;
}

div#infobox div.st_controls div {
    float: left;
}

div#infobox div.st_controls div.st_update {
        padding-right: 5px;
        border-right: 1px solid  #C0C1DA;
}

div#infobox div.st_controls div#infobox_recording_buttons {
        padding-left: 5px;
}

div#infobox div.st_controls div#infobox_channel_buttons {
        padding-left: 5px;
}
